#page{
	padding-top:7em;
	max-width:100em;
	margin:auto;
	position:relative;
}
.box{
	background:rgb(226, 233, 233);
	padding-top:1em;
	padding-bottom:1em;
	padding-left:3em;
	padding-right:4em;
	overflow:hidden;
	font-size:1.25em;
}
.left-image{
	width:20em;
	float:left;
	margin-right:2em;
}
.right-text{
	float:right;
	margin-left:2em;
	margin-bottom:1em;
}
